@import 'bulma/css/bulma.css';

:root {
  --primary: #86e16f;
  --secondary: #e7a678;
  --accent: #7180F4;
  --background: #515DEF;
  --background2: #d6e5f5;
  --foreground: #c4dae9;
  --footer: #feffff;
  --radius: 1rem;
  --text: #000;
}

body {
  /* background-color: var(--background); */
  /* Importante: Si nosotros utilizamos el theme-dark,
  el color del texto no podrá ser en color negro u oscuros,
  ya que HTML interpreta que al ser del mismo color que el theme, 
  no podrá ser leido */
  color: var(--text);
}

.page {
  margin-left: 100px;
  margin-right: 150px;
  background-color: var(--background);
}

.navbar-items {
  margin-left: 120px;
  gap: 30px;
}

.button-contact {
  /* margin-left: 700px; */
}