@import 'bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belgrano&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.page {
  background-image: url('../img/backgroundX2.png');
  background-position: top right;
  background-position-x: 1020px;
  background-position-y: 0px ;
  background-size: auto;
  background-repeat: no-repeat;
  max-height: 1050px;
}
.navbar-menu, .hero {
  margin: 20px 100px;
}

.navbar_items {
  font-size: 18px;
  margin-left: 50px;
  gap: 30px;
}

.sign__up {
  padding: 50px;
}

.log__in {
  padding: 50px;
}

/* Texto */

.titulo {
  position: relative;
  width: 900px;
  font-size: 72px;
  font-family: "Belgrano", serif;
  /* margin-top: 0px; */
  line-height: 1.3;
}

/* Posicionamiento del circulo y linea roja */

.circulo {
  position: absolute;
  top: 175px;
  right: 1350px;
  width: 270px;
}

.linea {
  position: absolute;
  bottom: 458px;
}



.subtitulo {
  margin-top: 30px;
  color: #8E8E8E;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.button-section {
  margin-top: 30px;
}

.nft__artworks {
  font-family: "Belgrano", serif ;
  padding: 0;
  margin-top: 60px;
  max-width: 1200px
}


/* Movimiento de las imagenes */

.image-section {
  transition: transform 0.3s ease-in-out;
}

.image-section:hover {
  transform: translateY(-10px);
}


/* Diseño de la carta de creador */

.nft {
  height: 0px;
}
.nft__imageContainer {
  position: relative;
  left: 975px;
  bottom: 880px;
}

.aside-img {
  width: 550px;
  height: 580px;
}

.nft__data {
  position: relative;
  width: 500px;
  padding: 30px;
  left: 1000px;
  bottom: 980px;
}

.line-separation {
  background-color: black;
  height: 1px;
}

.nft__numbers {
  display: flex;
  gap: 70px;
  position: relative;
  width: 500px;
  padding: 30px;
  left: 1000px;
  bottom: 1000px;
  font-size: 18px;
  color: #ffff;
}

.nft__numbers span {
  font-size: 32px;
  color: #FA504D;
}

.logo_background {
  position: relative;
  left: 1550px;
  bottom: 1870px;
}


